.playerOne{
  text-align: center;
  background-color:#98FB98;
  color:white;
  border-radius:15px;

}
.playerTwo{
  text-align: center;
  background-color:#ADD8E6;
  color:white;
  border-radius:15px;

}
.controls{
  text-align:center;
}
