.playerOne{
  text-align: center;
  background-color:#98FB98;
  color:white;
  border-radius:15px;
  height: 500px;

}
.playerTwo{
  text-align: center;
  background-color:#ADD8E6;
  color:white;
  border-radius:15px;
  height: 500px;

}
.controls{
  text-align:center;
  padding-top:100px;

}
.controls input{
  border:none;
  padding:40px;
}
