.playerOne{
  text-align: center;
  background-color:#98FB98;
  color:white;
  border-radius:15px;
  height: 500px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;

}
.playerTwo{
  text-align: center;
  background-color:#ADD8E6;
  color:white;
  border-radius:15px;
  height: 500px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;

}
.controls{
  text-align:center;
  padding-top:100px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;

}
.controls input{
  border:none;
  padding:20px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
body{
  background-color:#D3D3D3;
  padding:70px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .playerOne{
    width:200px;
  }
  .playerTwo{
    width:200px;
  }
  .controls{
    width:200px;
  }
}
#hold2{
  display:none;
}
